@-moz-document url-prefix("chrome:"),
               url("about:blank"),
               url("about:home"),
               url("about:newtab"),
               url("about:privatebrowsing")
{
	.info-border,
	.personalizeButtonWrapper,
	.search-inner-wrapper {
		display: none !important;
	}

	.logo-and-wordmark {
		margin-block-end: 0 !important;
		height: 50vh;
		align-items: center !important;
	}
}
