/*
	zenplified: Zen Browser, simplified.
	Author: https://github.com/sejjy

	Created: December 06, 2024
	Version: Mozilla Zen 1.0.1-a.22

	Updated: July 14, 2025
	Version: Mozilla Zen 1.14.4b
*/

/* ──────────────────────────────────────────────────────────────── Page ──── */

@-moz-document url-prefix("chrome:"),
url("about:blank"),
url("about:home"),
url("about:newtab"),
url("about:privatebrowsing") {

	/* Dark theme */
	@media (prefers-color-scheme: dark) {
		body {
			background-color: #0d0c0c !important;
		}
	}

	/* Light theme */
	@media (prefers-color-scheme: light) {
		body {
			background-color: #ffffff !important;
		}
	}

	/* Hide search bar and personalize button */
	.search-inner-wrapper,
	.personalizeButtonWrapper {
		display: none !important;
	}

	/* Center logo and wordmark */
	.logo-and-wordmark {
		margin-bottom: 0 !important;
		height: 50vh;
	}
}
